#ns--reading-progress-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#ns--progress {
    background-color: blueviolet;
    border-bottom: 1px solid greenyellow;
    height: 6px;
    width: 0%;
}

